.clock {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: rgba(3, 92, 148, 0.808);
  margin: 100px auto;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.6);
  /* background-image: url(/assets/imgs/watch.jfif); */
  /* background-size: cover */
  color: white;
  
}
body{
  background-image: url(/assets/imgs/bg.jpg);
  
  
}
.heading{
  color: chocolate;
  text-align: center;
}

.num1 {
  width: 20px;
  height: 20px;
  color: rgb(0, 0, 0);
  font-size: larger;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Positioning for 12, 3, 6, 9 o'clock */
.num12 {
  top: 5%;
  left: 50%;
}

.num3 {
  top: 50%;
  left: 95%;
}

.num6 {
  top: 95%;
  left: 50%;
}

.num9 {
  top: 50%;
  left: 5%;
}

.center {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hourHand {
  width: 8px;
  height: 70px;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%);
}

.minuteHand {
  width: 5px;
  height: 90px;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%);
}

.secondHand {
  width: 2px;
  height: 100px;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%);
}
.btn-footer{
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;


}
button{
  border: 2px solid black;
  width:25px;
  height:25px;
  
  /* margin-left: 500px; */
}
